
body{
background-color:rgb(23, 228, 211);
}


 h1{
color: green;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background:rgb(255, 174, 0) ;
}


p{
color:rgb(255, 231, 17)
font-family:Arial, Helvetica, sans-serif ;
font-size:30px ;
background:focus-visible;
}