
body{
background-color:aquamarine;
}


 h1{
color: green;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background:aqua ;
}


p{
color:green
font-family:Arial, Helvetica, sans-serif ;
font-size:small ;
background:focus-visible;
}