
body{
background-color:rgb(0, 89, 255);
}


 h1{
color: rgb(41, 119, 143);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background:rgb(255, 174, 0) ;
}


p{
color:rgb(255, 231, 17)
font-famili:brown,crimson ;
font-size:30px ;
background:-moz-any-link;
}